# IDE & OS
.idea/
*.iml
.vscode/**
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store

# Build & Artifacts
build/
out/
bin/
.gradle/
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Kubernetes 
.kube/
kubeconfig*
local-values.yaml

