# IDE & OS
.idea/
*.iml
.vscode/
.DS_Store

# Build & Artifacts
build/
out/
.gradle/
*.jar
*.war

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Kubernetes 
.kube/
kubeconfig*
local-values.yaml

